<p id="notice"><%= notice %></p>

<h1>Md Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @md_notes.each do |md_note| %>
      <tr>
        <td><%= md_note.title %></td>
        <td><%= md_note.content %></td>
        <td><%= link_to 'Show', md_note %></td>
        <td><%= link_to 'Edit', edit_md_note_path(md_note) %></td>
        <td><%= link_to 'Destroy', md_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Md Note', new_md_note_path %>
